/* Font: Cinzel, poppins.
border: #ccc.
color logo: #999.
color home: #fff.
color: #333 */

@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Cinzel&family=Fredoka+One&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;1,100;1,200&family=Press+Start+2P&display=swap');

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-Light.ttf);
}


header, main, footer  {
    font-family: Poppins;
    margin:10% 10%;
}

strong {
    color: #999;
    margin: 0 0 0 60px;
    text-transform: uppercase;
    font-family: "Cinzel", serif;
    font-weight: 700;

}

* {
    box-sizing: border-box;
}

header div  {
    background: url(../img/background.jpeg) no-repeat center;
    height: 30%;
    margin: 2% 2%;
    padding: 10% 30%;
    /* text-align: center;
    color: white;
    letter-spacing: 0.02em; */
    /* font-size: 1em; */
    /* height: 100%;
    margin: 30%;  */
    
    

    
}

 h1 {
    font-family: "Cinzel", serif;
    color: white;
    letter-spacing: 0.03em;
    
    /* margin: 0% auto;
    padding: % 0%;  */
    text-align: center;
    font-size: 2em;
     
} 

/* h1  {
    width: 50%;
    font-size: 1.2em;
    font-family: arial;
     */

    
}

h2 {
    font-variant: small-caps;
    text-align: center;
    font-family: "Cinzel", serif;
}
main section:nth-of-type(1) {
    text-align: center;
    width: 100%;
    margin: 1em 1em;
    padding: 1em 1em;
}



article {
    margin: 3em 1em;
}



main img {
    width: 28%;
    height: 7em;
    margin: .6em;
}

main section:nth-of-type(2) {
    margin: 2% 5%;
}

ul {
    font-weight: bold;
    list-style: none;
    font-size: 0.7em;
}

li {
    line-height: 2em;;
}

ul li span {
    color: red;
    font-weight: bold;
    
}

footer {
    border-top: 1px solid rgb(182, 177, 177);

}

a {
    text-decoration: none;
    color: black;
}

footer div {
    text-align: left;
    background: rgb(68, 61, 61);
    color: white;
    padding: 0.5em 0 ;
}

footer p {
    text-align: center;
    padding: 1% 0 0%; 0%
}

footer img {
    width: 2rem;
    height: 2rem;
    margin: 1% 3%;
    

}